<template name="items">
  <h2>
    acount(void* s);
    <span class="badge">{{numberOfShown "I"}}/{{numberOfItems "I"}}</span>
  </h2>

  {{#if currentUser}}
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">
        Add item
      </button>
    </div>
  </div>
  {{/if}}


  <div class="row">
  {{#each items "I"}}
    <div class="col-md-4">
      {{>item}}
    </div>
  {{/each}}
  </div>


  <h2>
    phase II
    <span class="badge">{{numberOfShown "II"}}/{{numberOfItems "II"}}</span>
  </h2>

  <div class="row">
  {{#each items "II"}}
    <div class="col-md-4">
      {{>item}}
    </div>
  {{/each}}
  </div>

  {{#if currentUser}}
    {{>allHideButton}}
    {{>allShowButton}}
    {{>allClearButton}}
  {{/if}}

</template>
