<template name="newapp">
  <h1>New application checklist/timeline</h1>

  {{#if currentUser}}
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">
        Add item
      </button>
    </div>
  </div>
  {{/if}}


  {{>process_column phase="start"}}
  {{>process_column phase="early"}}
  {{>process_column phase="middle"}}
  {{>process_column phase="before deployment"}}
  {{>process_column phase="after deployment"}}


  {{#if currentUser}}
    {{>allHideButton}}
    {{>allShowButton}}
    {{>allClearButton}}
  {{/if}}

</template>
