<template name="metrics">
  <h1>visualising metrics</h1>
  <h3>with grafana et. al.</h3>

  <div class="components">
    {{>elk}}
    {{>summary}}
    {{>basic_component class="um"}}
    {{>basic_component class="pm"}}
    {{>basic_component class="te"}}
    {{>basic_component class="stakeholders"}}
    {{>jenkins}}
    {{>basic_component class="me"}}
    {{>basic_component class="you"}}
    {{>basic_component class="users"}}
    {{>basic_component class="prod"}}
    {{>basic_component class="staging3"}}
    {{>basic_component class="env2"}}
    {{>basic_component class="t1"}}
    {{>tests}}
    {{>cifter}}
    {{>cql}}
    {{>scripts}}
    {{>metrics_card}}
    {{>statsd_clients}}
    {{>statsd_ruby}}
    {{>statsd}}
    {{>graphite}}
    {{>graph}}
  </div>

</template>

<template name="graph">
  <div class="components graph">
    <a>grafana graphs</a>
    {{>handle}}
    <ul>
      <li>open source</li>
      <li>feature rich metrics</li>
      <li>dashboard and graph editor</li>
      <li><a href="http://grafana.org/">http://grafana.org/</a></li>
      <ul>
        <li>Graphite</li>
        <li>Elasticsearch</li>
        <li>OpenTSDB</li>
        <li>Prometheus</li>
        <li>InfluxDB</li>
      </ul>
    </ul>
    {{>imgpanel img="/graph1.png"}}
    {{>imgpanel img="/grafana_small_bars.png"}}
    {{>imgpanel img="/grafana_zoomed_bars.png"}}
    {{>imgpanel img="/grafana_static_statistics_gauge.png"}}
    {{>imgpanel img="/grafana_confusing_bars.png"}}
    {{>imgpanel img="/grafana_gauge_and_error_types.png"}}
    {{>imgpanel img="/grafana_spiked_and_categorized.png"}}
    {{>imgclear}}
  </div>
</template>

<template name="graphite">
  <div class="components graphite">
    <a class="show">graphite</a>
    <img src='/graphite.png' class="graphite">
    {{>handle}}
  </div>
</template>

<template name="statsd">
  <div class="components statsd">
    <a>statsd</a>
    {{>handle}}
    <ul>
      <li>front-end proxy for graphite metrics server</li>
      <li>push-based</li>
      <li>types of measurement</li>
      <ul>
        <li>gauges</li>
        <li>counters</li>
        <li>time</li>
        <li>^ combines, transforms, etc...</li>
        <li>count vs rate vs *</li>
      </ul>
      <li><a href="https://github.com/etsy/statsd/wiki">wiki</a></li>
      <li><a href="https://github.com/b/statds_spec">protocol++</a></li>
    </ul>
  </div>
</template>

<template name="statsd_ruby">
  <div class="components statsd_ruby">
    <a>statsd-ruby</a>
    {{>handle}}
    <div class="codeblock">
      {{#markdown}}
```ruby
describe "#increment" do
it "should format the message according to the statsd spec" do
  @statsd.increment('foobar')
  @statsd.socket.recv
    .must_equal ['foobar:1|c']
end
```
      {{/markdown}}
      </div>
  </div>
</template>

<template name="statsd_clients">
  <div class="components statsd_clients">
    <p>statsd-clients</p>
    {{>handle}}
    {{>imgpanel img="/stats_clients_connections.png"}}
    {{>imgpanel img="/stats_client_env.png"}}
    {{>imgpanel img="/statsd_clients.png"}}
    {{>imgpanel img="/static_statistics.png"}}
    {{>imgpanel img="/metrics_report_methods.png"}}
    {{>imgpanel img="/metrics_reporting_hash_of_errors.png"}}
    {{>imgclear}}
  </div>
</template>

<template name="cql">
  <div class="components cql">
    <a>cql</a>
    {{>handle}}
    <ul>
      <li><a href="https://github.com/enkessler/cql">github</a></li>
      <li><a href="http://www.relishapp.com/enkessler/cql/docs">docs</a></li>
    </ul>

    {{>imgpanel img="/cql_top.png"}}
    {{>imgpanel img="/cql_wipped_tests.png"}}
    {{>imgpanel img="/cql_tagged_tests.png"}}
    {{>imgpanel img="/cql_running_tests.png"}}
    {{>imgpanel img="/cql_total_tests.png"}}
    {{>imgclear}}
  </div>
</template>

<template name="scripts">
  <div class="components scripts">
    <a>scripts</a>
    {{>handle}}
    <ul>
      <li>run after test sessions</li>
      <li>run periodically via jenkins</li>
      <li>report errors</li>
      <li>categorize errors</li>
    </ul>

    {{>imgpanel img="/scripts_categorizing_errors.png"}}
    {{>imgpanel img="/scripts_cql.png"}}
    {{>imgclear}}
  </div>
</template>

<template name="metrics_card">
  <div class="components metrics metrics_card">
    <a>metrics</a>
    {{>handle}}
    <ul>
      <li># of each error type</li>
      <li>overall test failures/passes</li>
      <li># of @wip'd tests</li>
      <li>running length of tests</li>
      <li># ToDos</li>
    </ul>
  </div>
</template>

<template name="cifter">
  <div class="components cifter">
    <a>test runners</a>
    {{>handle}}
    <ul>
      <li>runs tests in parallel</li>
      <li>maintains status of tests</li>
      <li>e.g. tef-cucumber</li>
    </ul>
    <!--
    <ul>
      <li>runs tests in parallel</li>
      <li>maintains status of tests</li>
    </ul>
    -->
  </div>
</template>

<template name="tests">
  <div class="components tests">
    <a>tests</a>
    {{>handle}}
    <ul>
      <li>$lt 50, $gt 500, $gt 1000, ~10k</li>
      <li>wipped/running</li>
      <li>flaky</li>
      <li>always passing</li>
      <li>slow</li>
      <li>important</li>
    </ul>
  </div>
</template>

<template name="jenkins">
  <div class="components jenkins">
    <a>jenkins</a>
    {{>handle}}
    <ul>
      <li>nightly regressions</li>
      <li>reports on the dash</li>
    </ul>

    {{>imgpanel img="/jenkins.png"}}
    {{>imgpanel img="/jenkins_build_triggers.png"}}
    {{>imgpanel img="/jenkins_shell_script_setup.png"}}
    {{>imgpanel img="/jenkins_inform_a_room.png"}}
    {{>imgclear}}
  </div>
</template>

<template name="summary">
  <div class="components summary">
    <a>summary</a>
    {{>handle}}
    <ul>
      <li>enables:</li>
      <ul>
        <li>bvc</li>
        <li>information</li>
        <li>productivity</li>
      </ul>
      <li>but this is not:</li>
      <ul>
        <li>monitoring</li>
        <li>risk assessment</li>
        <li>prioritizing</li>
        <li class="show_elk"><i>tracking</i></li>
        <li><i>drill down</i></li>
      </ul>
    </ul>
    {{>imgpanel img="/show_actual_graphs.png"}}
    {{>imgclear}}
  </div>
</template>

<template name="elk">
  {{>basic_component class="kibana"}}
  {{>basic_component class="elastic search"}}
  {{>basic_component class="logstash"}}
</template>

<template name="basic_component">
  <div class="components {{class}}">
    <p>{{class}}</p>
    {{>handle}}
  </div>
</template>



<template name="handle">
  <div class="handle"></div>
</template>

<template name="show">
  <div class="show"></div>
</template>

<template name="imgpanel">
  <a class="showimg"></a>
  <img src='{{img}}' class="{{class}}" data="{{class}}">
</template>

<template name="imgclear">
  <a class="imgclear"></a>
</template>
