<template name="metrics">
  <h1>visualing metrics</h1>
  <h3>with grafana et. al.</h3>

  <div class="components">

    <div> 3rd party </div>
    <div> ceo </div>
    <div> pm </div>
    <div> stakeholders </div>
    <div> jenkins </div>
    <div> me </div>
    <div> you </div>
    <div> users </div>
    <div> envdotdotdot </div>
    <div> env3 </div>
    <div> env2 </div>
    <div> env1 </div>
    <div> tests </div>
    <div> cifter </div>
    <div> metrics </div>
    <div class="cql"> cql </div>
    <div> statsd clients </div>
    <div> statsd-ruby </div>
    <div> statsd </div>
    <div> graphite </div>
    <div class="graph"> grafana graph </div>
  </div>

</template>
